/* ------------------------------ */
/* BASIC SETUP */
/* ------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgba(0,0,0,.15);
    color: #fff;;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

section,
footer {
    padding: 100px 0;
}

/* ------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------ */

.row {
    max-width: 1680px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */

.ion-ios-paw-outline {
    font-size: 300%;
}

.navigation {
    background-color: #313131;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 2;
}

header {
    width: 100%;
    height: 100vh;
    background-color: #3e3e3e;
}

.nav-ul a{
    padding: 16px 75px;
    flex-wrap: wrap;
}

.nav-ul li,
.nav-ul-bottom li {
    margin: -2px;
}

.nav-ul li:first-child a {
    border-bottom: 5px solid #00b593;
    color: #00b593;
}

.nav-ul li a:hover {
    border-bottom: 5px solid #00b593;
}

.nav-ul li,
.nav-ul-bottom li {
    display: inline-flex;
    list-style: none;
    justify-content: space-around;
    font-weight: 500;
    font-size: 110%;
}

.top-nav,
.bot-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.nav-links,
.nav-links-bottom {
    flex-basis: 70%;
}

.nav-icons i,
.nav-icons-bottom i {
    font-size: 130%;
    padding-right: 20px;
}

.nav-icons a:hover,
.nav-links a:hover,
.nav-logo a:hover,
.nav-icons-bottom a:hover {
    color: #0aa285;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 150%;
    line-height: 15px;
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width:1034px) {
    .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 150%;
    line-height: 15px;
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
}
}

@media(max-width:624px) {
    .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100%;
    line-height: 10px;
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    }
    
    .nav-icons {
        display: flex;
        flex-direction: column;
    }
    
    .nav-icons a{
        padding: 25px 0;
    }
    
    .container-texts h1 {
    padding: 40px 0;
    }
    
    .container-texts p {
        padding: 10px 0 30px 0;
    }
}

.container-texts h4 {
    font-size: 130%;
}

.container-texts h1 {
    font-size: 300%;
}

.container-logo {
    font-size: 200%;
    margin-bottom: 40px;
}

.container-texts {
    margin-bottom: 40px;
}

.container-links {
    font-size: 80%;
    flex-basis: 20%;
    display: inline-flex;
    justify-content: center;
    text-transform: none;
}

.container-links a {
    padding: 10px 20px;
    transition: opacity 0.5s;
}

.container-links a:first-child {
    background-color: #0aa285;
    border: 1px solid #0aa285;
    margin-right: 20px;
}

.container-links a:last-child {
    background-color: #313131;
    border: 1px solid #313131;
}

.container-links a:hover {
    opacity: 0.75;
    zoom: 1.03;
}

/* ------------------------------ */
/* SECTION ABOUT */
/* ------------------------------ */

#section-about {
    color: #222;
    text-align: center;
}

h3{
    font-size: 180%;
    font-weight: 200;
    color: #222;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.about-me {
    text-align: left;
    max-width: 50%;
}

.about-me p {
    letter-spacing: 1px;
    font-size: 90%;
    font-weight: 300;
    padding-bottom: 10px;
    line-height: 22px;
}

.education {
    text-align: right;
    max-width: 18%;
}

.text-underline {
    background-color: #000;
    height: 1px;
    width: 40px;
    margin: 10px 0 14px 0;
    display: block;
}

.text-underline-right {
    margin-left: auto;
}

.education h5 {
    font-size: 115%;
    font-weight: 200;
    padding-bottom: 5px;
}

.education p {
    font-size: 90%;
    font-weight: 300;
    padding-bottom: 20px;
}

.skills {
    padding-top: 30px;
}

.skills,
.projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills i {
    font-size: 300%;
    padding: 0 10px;
}

.skills i:hover {
    color: #0aa285;
}

/* ------------------------------ */
/* SECTION PROJECTS */
/* ------------------------------ */

#section-projects {
    background-color: #eee;
}

img {
    max-width: 45%;
    height: auto;
    padding-bottom: 50px;
}

img:last-child {
    padding-bottom: 0px;
}

img:hover {
    transform: scale(1.2);
}

.project-images {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

/* ------------------------------ */
/* SECTION CONTACT */
/* ------------------------------ */

#section-contact {
    font-family: 'Source Sans Pro', sans-serif;
    color: #222;
}

.contact-1 a,
.contact-1 i {
    color: #0aa285;
    font-size: 15px;
    font-weight: 600;
}

.contact-1 i {
    padding-right: 12px;
}

.myForm {
    display: flex;
    border-radius: 3px;
    padding: 1.8em 0;
}

.message {
    display: flex;
    flex-direction: column;
    order: 2;
}

.message > textarea {
   flex: 1; 
   width: 50em;
   margin-right: 100px;
}

.contact {
    flex: 1;
    order: 1;
   	margin-right: 2em; 
}

.contact input {
    width: 100%;
}
 .contact input,
 .contact button {
    padding: 5px;
    margin-bottom: 5px;
 }

 .contact button {
   background: #0aa285;
   color: white;
   border: 0;
   padding: 10px 20px;
   margin-top: 10px;
 }

textarea,
input[type=text],
input[type=email] {
    background-color: #eee;
    border: 1px solid #eee;
}

button[type=submit]:hover {
    opacity: 0.95;
    zoom: 1.05;
    cursor: pointer;
}

/* ------------------------------ */
/* FOOTER */
/* ------------------------------ */

footer {
    background-color: #313131;
    padding: 50px 0 80px 0;
}

.nav-links-bottom {
    font-size: 80%;
}

.nav-ul-bottom  a {
    color: #0aa285;
    flex-wrap: wrap;
    padding: 10px 20px;
    
}

